{% extends 'base.html' %}
{% block main %}
<h1>Insert Page</h1>
<form action="" method="post">
    {% csrf_token %}
    <label>
        Product name
        <input class="input-clean" type="text" name="pname"/>
    </label>
    <label>
        Product Price
        <input class="input-clean" type="text" name="pprice"/>
    </label>
    <label>
        Select Category
        <select name="pcat" id="">
            <option value="Electronics">
                Electronics
            </option>
            <option value="HOME/Furiniture">
                HOME/Furiniture
            </option>
            <option value="Groceries">
                Groceries
            </option>
        </select>
    </label>
    <input class="btn btn-primary" type="submit" value="POST"/>
</form>
{% if product is not None %}
<p>{{product.pname}} inserted successfully....</p>
{% endif %}
{% endblock %}