{% extends 'base.html' %}
{% block main %}
<h1>Update Page</h1>
<form action="" method="post">
    {% csrf_token %}
    <label>
        Product name
        <input class="input-clean" type="text" name="pname" value="{{product.pname}}"/>
    </label>
    <label>
        Product Price
        <input class="input-clean" type="text" name="pprice" value="{{product.pprice}}"/>
    </label>
    <label>
        Select Category
        <select name="pcat" id="">
            <option value="">None / Unassigned</option>
            {% for category in categories %}
                <option value="{{ category.cat_id }}" {% if product.cat_id == category.cat_id %}selected{% endif %}>
                    {{ category.cat_name }}
                </option>
            {% endfor %}
        </select>
    </label>
    <input class="btn btn-primary" type="submit" value="UPDATE"/>
</form>
<!-- {% if product is not None %}
<p>{{product.pname}} inserted successfully....</p>
{% endif %} -->
{% endblock %}